<div class="name-input-cont">
	<h4>Enter your name to play</h4>
	<EditForm class="player-name-input" Model="@PlayerName">
		<DataAnnotationsValidator />
		<InputText @bind-Value="PlayerName.Name" placeholder="Enter player name" type="text" oninput="@HandleNameInput"/>
		<ValidationMessage For="@(() => PlayerName.Name)" />
	</EditForm>
</div>

@code {
	[Parameter]
	public PlayerName PlayerName { get; set; } = new PlayerName();

	[Parameter]
	public EventCallback OnNameChanged { get; set; }

	private async Task HandleNameInput(ChangeEventArgs e)
	{
		PlayerName.Name = e.Value?.ToString() ?? string.Empty;
		await OnNameChanged.InvokeAsync();
	}
}
